<div class="text-center mb-4">
    <h1>Sobre a Porsche Motors</h1>
    <p>Excelência em performance e exclusividade desde 1931</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>
        Nosso compromisso é oferecer aos nossos clientes uma experiência premium, desde o atendimento personalizado
        até a entrega do seu novo Porsche dos sonhos.
      </p>
      <p>
        Venha nos visitar e descubra o que é dirigir um verdadeiro símbolo de esportividade e elegância.
      </p>
      <h3>Nome : Luiz Henrique Martins Silva</h3>
    <h3>RA : 237219</h3>
    </div>
  </div>
