.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__banner {
    background-color: RGB(221, 221, 221);
    width: 1000px;
    border-radius: 10px;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner > img {
    height: 300px;
    width: 400px;
    min-width: 400px;
    border-radius: 10px;
}

.container__button {
    margin-top: 15px;
}

