<div class="container">
    <h1>Conquiste seu carro novinho hoje aqui na Porsche Motors</h1>
    <div class="container__banner" *ngIf="showBanner">
        <div class="banner">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD9OXCDUok8fYLJvAK8B8frldjle7-HJc1GQ&s" alt="Porsche 911">
        <p><strong> Conquiste hoje sua porsche basta entrar em contato!</strong></p>
    </div>
    </div>
<div class="container__button">
    <button class="btn btn-primary" (click)="visibleBanner()">Exibição</button>
</div>
</div>

